.logos {
  overflow: hidden;
  padding: 30px 0;
  white-space: nowrap;
}

.logos .logos-slide {
  height: 100%;
  display: inline-flex;
  animation: slide 60s infinite linear;
}

.logos .logos-slide div img {
  height: 90%;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
